{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card col-md-8 mx-auto">
            <div class="card-header">
                <h1 class="text-center">РЕДАГУВАТИ ПРОФІЛЬ</h1>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; margin: 0 auto;">
                        {% if user.imageName is not null %}
                            <img src="{{ asset('/userImage/' ~ user.imageName) }}" alt="Profile Image" style="width: 100%; height: 100%; object-fit: cover;">
                        {% else %}
                        {% endif %}
                    </div>
                </div>

                <form method="post" action="{{ path('dashboard_user_edit', {'id': user.id}) }}" enctype="multipart/form-data">
                    {{ form_row(form._token) }}
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.name, 'NAME : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.lastname, 'LASTNAME : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} })}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.email, 'EMAIL : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.phone, 'PHONE : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} })}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_label(form.country, 'COUNTRY : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.country, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.birthdate, 'BIRTHDATE : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.category, 'CATEGORY : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.workplace, 'WORKPLACE : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.workplace, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.facebook, 'FACEBOOK : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.facebook, { 'attr': {'class': 'form-control'} })}}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.linkedin, 'LINKEDIN : ', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.linkedin, { 'attr': {'class': 'form-control'} })}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_photo">ЗАВАНТАЖИТИ ФОТО : </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="user_photo" name="user[imageFile]" accept="image/*" onchange="updateFileName(this)">
                            <label class="custom-file-label" for="user_photo">ОБРАТИ ФАЙЛ</label>
                        </div>
                    </div>

                    {% if user.imageName is not null %}
                        <div class="form-group">
                            <label for="user_current_photo">ПОТОЧНЕ ФОТО : </label>
                            <input type="text" id="user_current_photo" class="form-control" value="{{ user.imageName }}" readonly>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form_label(form.about, 'ABOUT : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.about, { 'attr': {'class': 'form-control'} })}}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ОНОВИТИ</button>
                        <a href="{{ path('dashboard_user_index') }}" class="btn btn-secondary float-right">ПОВЕРНУТИСЯ НАЗАД</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            input.nextElementSibling.innerText = fileName;
        }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="{{ asset('path/to/jquery-3.6.0.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <script src="{{ asset('assets/app.js') }}"></script>
{% endblock %}
