{% extends 'base.html.twig' %}

{% block title %}Авторизація!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<<<<<<< HEAD
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Вхід в особистий кабінет</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label text-dark active">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Електронна пошта" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="form-label text-dark active">Пароль</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" autocomplete="current-password" required>
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <a href="/resetting-password/" class="float-right small text-dark mt-1">Я забув пароль</a>
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label text-dark">Запам'ятати мене</span>
                                </label>
                            </div>
                            <div class="form-footer mt-2">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти
                            </div>
                            <div class="text-center mt-3 text-dark">
                                У вас ще немає облікового запису? <a href="/uk/register/?user=registration">Зареєструватися</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('path/to/jquery-3.6.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{{ asset('assets/app.js') }}"></script>
{% endblock %}
=======
    <style>
        body {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        .form-signin label {
            font-weight: bold;
            margin-top: 10px;
            display: block;
            text-align: center; 
            margin-bottom: 8px;
        }

        .form-signin input {
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 10px;
        }

        .form-signin button {
            border-radius: 5px;
            padding: 10px;
            width: 100%; 
        }
    </style>
{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Будь ласка, увійдіть</h1>

        <label for="inputEmail" class="d-block mx-auto mb-2">Електронна пошта</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Електронна пошта" autocomplete="email" required autofocus>

        <label for="inputPassword">Пароль</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Увійти
        </button>
    </form>
</div>
{% endblock %}
>>>>>>> 18f3cf1ced05d8aed247f9da2a2149a8f5a6cf1a
